html,body{
    height: 100%;
    margin: 0;
}

#content{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";    
    gap: 10px;
    height: 100%;    
}

#content > #header, 
#content > #main{
    padding: 20px;
}

#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}

#sidebar > div{
    padding: 20px;
}

#main{
    position: relative;
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.navbar{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.tasks-container{
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 6px;
}

.taskItem-container{
    position: relative;     /*delete*/
    display: flex;
    flex-flow: row nowrap;
    padding-top: 30px;
}

.eventBooster{

}
.taskItem-content{
    flex: 1;
}

.taskItem-content > .title {

}

.taskItem-content > .date {

}

.task-status{

}

.taskItem-tools {
    cursor: pointer;
}


.tasks-container > .create-task{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
}

.tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(255, 223, 191);
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(55, 55, 55, 0.166);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    width: 600px;
    height: 380px;
}

.form-container>form{
    display: flex;
    flex: 1;
    gap: 5px;
    padding: 8px;
}

.form-mainInfo,
.form-extraInfo{
    flex: 1;
}

.form-extraInfo{
    max-width: 30%;
}

.form-mainInfo{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.form-option{
    display: flex;
    flex-flow: column nowrap;
}

.btn-addTask{
}


textarea{
    max-width: 100%;
}



